name: CI

on: [push]

jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['3.3', '3.4', '4.0']
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby ${{matrix.ruby}}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true
    - name: Build and test with Rake
      run: bundle exec rake
  StandardRB:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - name: standardrb
        run: bundle exec standardrb
